<div class="top">
  <div class="spiner">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="top__container">
    <h1 class="top__title">DocokaniDoor</h1>
    <a class="enter" href="/street">ENTER</a>
    <div class="clouds"></div>
  </div>
</div>