<div class="cotainer">
  <article class="result">
    <div class="result__title">
      <h2 class="result__title__text">結果発表</h2>
    </div>
    <div class="result__container">
      <div class="result__container__map">
        <h4 class="result__container__map__title">今回の正解は...?</h4>
        <h3 class="result__container__map__address">カントー地方3番道路</h3>
      </div>
      <div class="result__container__points">
        <h4 class="result__container__points__title">今回獲得ポイント</h4>
        <h3 class="result__container__points__point">100pt</h3>
        <div class="result__container__points__buttons">
          <a href="#"><button class="result__container__points__buttons__rank">ランキング</button></a>
          <a href="/"><button class="result__container__points__buttons__back">トップへ戻る</button></a>
        </div>
      </div>
    </div>
  </article>
</div>