<div class="cotainer">
  <article class="result">
    <div class="result__title">
      <h2 class="result__title__text">結果発表</h2>
    </div>
    <div class="result__container">
      <div class="result__container__map">
        <h4 class="result__container__map__title">今回の正解は...?</h4>
        <h3 class="result__container__map__address">カントー地方3番道路</h3>
        <div class="result__container__map__img"></div>
      </div>
      <div class="result__container__points">
        <h4 class="result__container__points__title">今回獲得ポイント</h4>
        <h3 class="result__container__points__point">100pt</h3>
        <h4 class="result__container__points__title">正解との距離</h4>
        <h3 class="result__container__points__point">4545km</h3>
        <div class="result__container__footer">
        <h4 class="result__container__footer__title">結果をSNSで共有しよう!!</h4>
          <div class="result__container__footer__sns">
            <button class="btn btn-twitter">
            <i class="fab fa-twitter"></i>twitterで共有
            </button>
            <%= link_to "twitterでログイン", user_twitter_omniauth_authorize_path, class: 'btn btn-twitter' %>
          </div>
          <div class="result__container__footer__buttons">
            <a href="#"><button class="btn btn-rank"><i class="fas fa-crown"></i>ランキング</button></a>
            <a href="/"><button class="btn btn-top"><i class="fas fa-arrow-circle-left"></i>トップへ戻る</button></a>
          </div>
        </div>
      </div>
    </div>
  </article>
</div>