<div class="container">
  <article class="street">
  <a href="/" class="">
    <i class="fas fa-arrow-circle-left street__back-icon"></i>
  </a>
    <div class="street__view">
    </div>
    <div class="street__answer">
    <form class="street__answer__form">
      <h3 class="street__answer__form__question"><i class="fas fa-map-marked-alt"></i>ここはどこかな？</h3>
      <input type="text" class="street__answer__form__text" placeholder="例)東京タワー">
      <input type="submit" value="送信" class="street__answer__form__submit">
      </form></div>
  </article>
</div>